@charset "utf-8";
/* CSS Document */
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
  margin: 0;
  padding: 0;
}

fieldset,
c {
  border: none;
}

img {
  display: block;
}
img {
  vertical-align: top;
}

address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul,
ol,
li {
  list-style: none;
}

body {
  color: #333;
  font: 12px "SimSun", "宋体", "Arial Narrow", HELVETICA;
  background: #fff;
  overflow: hidden;
}

a {
  color: #666;
  text-decoration: none;
}
/*清除浮动*/
.clear {
  clear: both;
}
* {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  font-size: 31.25vw;
}
body {
  overflow: hidden;
}
#body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  flex-shrink: 0;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
